
CreateStudents/.vs/CreateStudents/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
*.cache
*.props
*.targets
CreateStudents/CreateStudents/obj/Debug/netcoreapp3.0/CreateStudents.csproj.FileListAbsolute.txt
CreateStudents/CreateStudents/obj/Debug/netcoreapp3.0/CreateStudents.AssemblyInfo.cs
CreateStudents/.vs/CreateStudents/DesignTimeBuild/.dtbcache
CreateStudents2/.vs/CreateStudents2/v16/.suo
CreateStudents2/CreateStudents2/obj/Debug/netcoreapp3.0/CreateStudents2.AssemblyInfo.cs
CreateStudents2/CreateStudents2/obj/Debug/netcoreapp3.0/CreateStudents2.csproj.FileListAbsolute.txt
CreateStudents2/.vs/CreateStudents2/DesignTimeBuild/.dtbcache
TestClassifiedAd/.vs/TestClassifiedAd/v16/.suo
TestClassifiedAd/TestClassifiedAd/obj/Debug/netcoreapp3.0/TestClassifiedAd.csproj.FileListAbsolute.txt
TestClassifiedAd/TestClassifiedAd/obj/Debug/netcoreapp3.0/TestClassifiedAd.AssemblyInfo.cs
TestClassifiedAd/.vs/TestClassifiedAd/DesignTimeBuild/.dtbcache
TilingDemo/.vs/TilingDemo/v16/.suo
TilingDemo/TilingDemo/obj/Debug/netcoreapp3.0/TilingDemo.AssemblyInfo.cs
TilingDemo/TilingDemo/obj/Debug/netcoreapp3.0/TilingDemo.csproj.FileListAbsolute.txt
TilingDemo/.vs/TilingDemo/DesignTimeBuild/.dtbcache
